body {
    background-color: rgb(9, 172, 242);
}

* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px #00f, 0 0 16px #00f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;

}

.email {
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(135deg, #0991eb, #04a7ee);
    border-radius: 5px;
    color: #fff;
}

.name {
    background: linear-gradient(135deg, #09a9e9, #09b1df);
    border-radius: 5px;
    color: #fff;
}

.textarea {
    background: linear-gradient(135deg, #06abec, #0cb8de);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #fff;
}

.submit {
    width: 150px;
    height: 25px;
    margin-left: 8px;
    background: linear-gradient(135deg, #05bbe9, #06bfed);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 70px;
    margin-left: 30px;
}